extends layout.pug

block title
    title Detailseite
    
block content
    h1 #{Title}
    div(class="container")
        p #{Title}
        p geschrieben von #{Author}
        p aus dem Jahr #{Year}
        p ISBN: #{Isbn}
    div(class="container")
        h2 Hier könnte ihre Kritik stehen: