extends layout.pug


block title
    title Detailseite
block script
    script
        include ../public/js/coverIm.js
        
block content
    h1 #{Title}
    div(class="container")
        img(id="cover")
        p(id="title") #{Title}
        p geschrieben von
        span(id="author") #{Author}
        p aus dem Jahr #{Year}
        p ISBN: 
        span(id="isbn") #{Isbn}
    div(class="container")
        h2 Hier könnte ihre Kritik stehen:
        form(action="/detail/:id" method="post")
            div(class="form-group")
                label Kritik
                input(type="text" class="form-control" name="review")
                ul(class="list-group")
            button(type="submit" class="btn btn-dark") Post